.navigation-link {
	display: block;
	position: relative;
	padding: 5px 20px;
	text-decoration: none;
	color: #333;
	-webkit-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
li {
    display: flex;
    float: left;
  }

.navigation-link:before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 0;
	border-bottom: solid 2px;
}

.navigation-link:before {
	left: 0;
}

.navigation-link:hover {
	color: #009688;
}

.navigation-link:hover:before {
	width: 100%;
}

.navigation-link:before {
	-webkit-transition: width .2s ease-in-out;
	transition: width .2s ease-in-out;
}
:root {
  font-family: Impact, Charcoal, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  padding: 5px;
  background-color: #60C290;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  align-items: center;
}

#gif {
  width: 200px;
  position: fixed;
  left: -200px;
  z-index: -1;
  animation-name: donatefunds;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
