a:hover,
a:active {
	text-decoration: none;
}
.ib {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}
.ul-reset {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}

.wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}
.header {
	text-align: center;
}
.navigation {
	background-color: #eee;
	font-weight: 700;
}

.navigation-list {
	font-size: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navigation-item {
	font-size: 1.2rem;
}

.navigation-link {
	display: block;
	position: relative;
	padding: 5px 20px;
	text-decoration: none;
	color: #333;
	-webkit-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.navigation-link:before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 0;
	border-bottom: solid 2px;
}

.navigation-link:before {
	left: 0;
}

.navigation-link:hover {
	color: #009688;
}

.navigation-link:hover:before {
	width: 100%;
}

.navigation-link:before {
	-webkit-transition: width .2s ease-in-out;
	transition: width .2s ease-in-out;
}
#logo{
	width: 20%;
	height: 20%;
}
h1, h2{
	color: magenta;
}

/*footer*/
footer {

	font-family: 'Open Sans', sans-serif;

}

footer .top_footer {

	background: rgb(153, 53, 153);

	padding: 55px 0 34px 0;

}

footer .top_footer h5 {

	font-style: italic;

	font-weight: 600;

	font-size: 1.125em;

	color:#fff;

	position: relative;

}

footer .top_footer h5:before {

	content: '';

	width:45px;

	height:2px;

	background: #12a0b1;

	position: absolute;

	bottom: -13px;

}

footer .top_footer .part1 {

	padding-top: 12px;

}

footer .top_footer .part3 {

	padding-left: 39px;

}

footer .top_footer .part4 {

	padding-left:83px;

}

footer .top_footer .part1 p:nth-child(2) {

	font-size: 0.875em;

	color: #797a7c;

	line-height: 25px;

	padding-top: 16px;

}

footer .top_footer .part1 p:nth-child(3) {

	font-weight: 600;

	font-size: 1.25em;

	color: #12a0b1;

}

footer .top_footer .part1 p:nth-child(4) {

	font-style: italic;

	font-size: 0.875em;

	color: #797a7c;

	padding-left: 27px;

    line-height: 4px;

}

footer .top_footer .part1 ul li {

	display: inline-block;

	margin-top:33px;

}

footer .top_footer .part1 ul li a i {

	color: #6b6b6b;

	margin-top: 7px;

    margin-left: 9px;

}

footer .top_footer .part1 ul li a {

	display: block;

	width:32px;

	height:32px;

	border: 1px solid #4a4a4a;

	border-radius: 50%;

	margin-left: 3px;

}

footer .top_footer .part1 ul li a:hover{

	border:1px solid #12a0b1;

	-webkit-transition: all 0.3s ease-in-out;

	-o-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;

}

footer .top_footer .part1 ul li a:hover {

	background: #F6BB19;

	border-color: #F6BB19;

}

footer .top_footer .part1 ul li a:hover i {

	color:#171B20;

	-webkit-transition: all 0.3s ease-in-out;

	-o-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;

}

footer .top_footer .part2 ul li a {

	font-size: 0.875em;

	color: #797a7c;

	margin-top: 14px;

    display: block;

    transition: all .3s ease;

}

footer .top_footer .part2 ul li:hover a {

	color: #13A0B2;

}



footer .top_footer .part2 ul {

	padding-top:20px;

}

footer .top_footer .part3 a {

	color: #12a0b1;

}

footer .top_footer .part3 p {

	font-size: 0.875em;

	color: #797a7c;

	padding-top: 31px;

}

footer .top_footer .part3 span {

	font-weight: 600;

	color: #797a7c;

	font-size: 0.75em;

	margin-top: -9px;

    display: block;

}

footer .top_footer .part4 img {

	float:left;

	margin: 0px 2.5px 5px;

}

footer .top_footer .part4 .gallery {

	margin-top:43px;

	margin-left: -5px;

	margin-right: -5px;

}
:root {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  padding: 5px;
  background-color: #60C290;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  align-items: center;
}

#blockImage {
  width: 75px;
  height: 75px;
  border-radius: 180px;
  border: 2px solid white;
  justify-self: end;
}

#blockTitle {
  padding-left: 5px;
  color: white;
  display: flex;
  flex-direction: column;
}

#blockTitle #name {
  font-family: "Dancing Script", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

#blockTitle #topic {
  padding-left: 108px;
  font-weight: 700;
}

#gif {
  width: 200px;
  position: fixed;
  left: -200px;
  z-index: -1;
  animation-name: runningAnimal;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes runningAnimal {
  100% {
    left: 1000px;
  }
}

main {
  position: relative;
  padding-top: 125px;
  z-index: 1;
}

#siteDescription {
  margin: 0 auto;
  width: 70%;
  text-align: justify;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

p {
  margin: 10px;
}

#paypalLogo {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 300px;
  align-self: center;
}

#paypalVideo {
  padding: 10px 0;
  margin: 0 auto;
  width: 250px;
  height: 141px;
  align-self: center;
}

#ctaButton {
  margin: 10px 10px 100px 10px;
  padding: 20px;
  background-color: #60C290;
  border: 0px;
  border-radius: 50px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
  align-self: center;
}

#ctaButton a {
  text-decoration: none;
  color: white;
}

footer {
  margin-bottom: 10px;
  text-align: center;
  color: lightgray;
}


@media screen and (min-width: 750px) {
  #pageDescribe {
    width: 500px;
  }
  #paypalVideo {
    width: 400px;
    height: 225px;
  }
  #gif {
  animation-duration: 12s;
  }
  @keyframes runningAnimal {
    100% {
      left: 2000px;
    }
  }
}
#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

/* Footer */
#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}

#main-footer a{
  color:#fff;
}

#main-footer a:hover{
  color:#f7c08a;
}
