body{

    background-image: url();
}
/* Navigation*/
a:hover,
a:active {
	text-decoration: none;
}
.ib {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}
.ul-reset {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}

.wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}
.header {
	text-align: center;
	background-color:lightgoldenrodyellow;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navigation {
	background-color: #eee;
	font-weight: 700;
}

.navigation-list {
	font-size: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navigation-item {
	font-size: 1.2rem;
}

.navigation-link {
	display: block;
	position: relative;
	padding: 5px 20px;
	text-decoration: none;
	color: #333;
	-webkit-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.navigation-link:before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 0;
	border-bottom: solid 2px;
}

.navigation-link:before {
	left: 0;
}

.navigation-link:hover {
	color: #009688;
}

.navigation-link:hover:before {
	width: 100%;
}

.navigation-link:before {
	-webkit-transition: width .2s ease-in-out;
	transition: width .2s ease-in-out;
}

/* slideshow */

.css-slideshow{
    position: relative;
    max-width: 500px;
    height: 300px;
    margin: 5em auto .5em auto;

  }
  .css-slideshow figure{
    margin: 0;
    max-width: 495px;
    height: 300px;
    background: #000;
    position: absolute;
  }
  .css-slideshow img{
    box-shadow: 0 0 2px #666;
  }
  .css-slideshow figcaption{
    position: absolute;
    top: 0;
    color: #fff;
    background: rgba(0,0,0, .3);
    font-size: .8em;
    padding: 8px 12px;
    opacity: 0;
    transition: opacity .5s;
  }
  .css-slideshow:hover figure figcaption{
    transition: opacity .5s;
    opacity: 1;
  }
  .css-slideshow-attr{
    max-width: 495px;
    text-align: right;
    font-size: .7em;
    font-style: italic;
    margin:0 auto;
  }
  .css-slideshow-attr a{
    color: #666;
  }
  .css-slideshow figure{
    opacity:0;
  }
  figure:nth-child(1) {
    animation: xfade 48s 42s infinite;
  }
  figure:nth-child(2) {
    animation: xfade 48s 36s infinite;
  }
  figure:nth-child(3) {
    animation: xfade 48s 30s infinite;
  }
  figure:nth-child(4) {
    animation: xfade 48s 24s infinite;
  }
  figure:nth-child(5) {
    animation: xfade 48s 18s infinite;
  }
  figure:nth-child(6) {
    animation: xfade 48s 12s infinite;
  }
  figure:nth-child(7) {
    animation: xfade 48s 6s infinite;
  }
  figure:nth-child(8) {
    animation: xfade 48s 0s infinite;
  }

  @keyframes xfade{
    0%{
      opacity: 1;
    }
    10.5% {
      opacity: 1;
    }
    12.5%{
      opacity: 0;
    }
    98% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  h1, h2{
      color: magenta;
  }
  #logo{
      width: 20%;
      height: 20%;
  }
  .welcome_sec {

	padding-top: 78px;

	background: #f7f8fa;

	height:756px;



}


/* Welcome*/
.welcome_sec h2 {

	font-family: 'Raleway', sans-serif;

	font-weight: 800;

	font-size: 1.625em;

	color: #323232;

	text-transform: uppercase;

	position: relative;

	text-align: right;

	line-height: 32px;

	padding-right: 25px;
	text-align:  center;

}



.welcome_sec h2:before {

	content: '';

	width: 4px;

	height:100%;

	background: #12a0b1;

	position: absolute;

	letter-spacing: 1px;

    right: -16px;

    top: 4px;

}

.welcome_sec .welcome_heading p{

	font-family: 'Open Sans', sans-serif;

	font-style: italic;

	font-size: 1em;

	color: #898989;

	padding-left: 30px;

    padding-top: 16px;

    line-height: 26px;

}

.welcome_item {

	position: relative;

}

.welcome_details {

	margin-top:80px;

}

.welcome_details img {

	background: #fff;

	padding:8px;

	position: absolute;

	z-index: 1;

	top: 14px;

}

.welcome_details .welcome_info {

	position: relative;

	width:77%;

	background: #fdfdfd;

	border: 1px solid #e6e6e6;

	margin-left: 140px;

    padding-top: 7px;

    padding-bottom: 24px;

    -webkit-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    transition: all 0.3s linear;

}

.welcome_details h3 {

	font-family: 'Roboto', sans-serif;

	font-weight: 700;

	font-size: 1.25em;

	color:#323232;

	padding-left: 66px;

}

.welcome_details h3:before {

	content: '';

	width:45px;

	height:3px;

	background: #f6ba18;

	position: absolute;

	top: 61px;

}

.welcome_details p {

	font-family: 'Open Sans', sans-serif;

	color: #898989;

	padding-left: 66px;

	padding-right: 41px;

    padding-top: 13px;

}

.welcome_item_bottom {

	margin-top:29px;

}

.welcome_details .welcome_info:hover {

	background: #12a0b1;

}

.welcome_details .welcome_info:hover h3{

	color: #fff;

}

.welcome_details .welcome_info:hover p {

	color: #e4e8e8;

}
